#displayimages{
border-style: double;    
border-color: crimson;
border: 1px;
border-radius: 80px;
padding: 5px;
width: 450px;
}
body{
text-align: center;
}

#displaynames{
word-spacing: 10px;
font-variant: small-caps;
font-size: 80px;
text-align: center;
}
